header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 15px solid rgb(70, 71, 76);
}

.logoEmatix {
    width: 100px;
}

li{
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}
